fastapi==0.116.1
uvicorn==0.35.0
streamlit==1.47.1
sentence-transformers==5.0.0
faiss-cpu==1.11.0.post1
scikit-learn==1.7.1
numpy==1.26.4
pydantic==2.11.7
pydantic-settings==2.10.1
pyyaml==6.0.2
cryptography==45.0.5
typer==0.16.0
httpx==0.28.1
pypdf==5.8.0
pytest==8.4.1
